api:
  endpoint: /query
  host: 0.0.0.0
  lm_studio_host: http://localhost:1234/v1
  port: 8000
  title: RAG Query API
data:
  doc_types:
  - .pdf
  - .doc
  image_types:
  - .jpg
  - .jpeg
  - .png
  index_path: ./data/index.index
  logs_dir: ./logs
  processed_data_path: ./data/processed_data.json
models:
  emb_model_name: sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
  llm: qwen/qwen3-4b-2507
  prompt_template: "Ты - помощник, который отвечает кратко и точно на основе контекста.\n\nКонтекст:\n{context}\n\nВопрос: {question}\n\nИнструкции:\n- Отвечай КРАТКО, 1-3 предложениями\n- Используй ТОЛЬКО информацию из контекста\n- Не добавляй пояснений, рассуждений или оценок\n- Если в контексте нет информации - напиши: \"Информация не найдена в контексте\"\n- Отвечай строго на русском языке \n\nОтвет:\n"
rag:
  k: 2
